body {
    margin: 0 50px;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

.cherry-img {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    width: 100%;
}

.title {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0;
    text-align: center;
    z-index: 1;
    font-size: 200px;
    letter-spacing: 0.1em;
    padding-top: 130px;
}

.subtitle {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #B9B8B9;
    color: #9C0E11;
    margin: 0;
    text-align: center;
    font-size: 100px;
    letter-spacing: 0.1em;
    padding-top: 70%;
}
