body {
    margin: 0;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5px;
    text-align: center;
    margin: 2px;
}

.header {
    height: 50px;
    background-color: blue;
    grid-column: 1/4;
    grid-row: 1/2;
}

.left-bar {
    background-color: red;
    grid-column: 1/2;
    grid-row: 2/4;
}

.main {
    height: 400px;
    background-color: pink;
    grid-column: 2/3;
    grid-row: 2/3;
}

.right-bar {
    background-color: yellow;
    grid-column: 3/4;
    grid-row: 2/3;
}

.footer {
    height: 100px;
    background-color: black;
    color: white;
    grid-column: 2/4;
    grid-row: 3/4;
}